
//go:export locate parigot.locate_
func locate(in *LocateRequest, out *LocateResponse) int32

//go:export register parigot.register_
func register(in *RegisterRequest, out *RegisterResponse) int32

//go:export dispatch parigot.dispatch_
func dispatch(in *DispatchRequest, out *DispatchResponse) int32

//go:export exit parigot.exit_
func exit(in *ExitRequest) int32

func (i *KernelClient) Locate(in *LocateRequest, out *LocateResponse) error {
	ret := locate(in, out)
	if ret != 0 {
		return fmt.Errorf("locate request failed locally: error=%d", ret)
	}
	return nil
}

func (i *KernelClient) Register(in *RegisterRequest, out *RegisterResponse) error {
	ret := register(in, out)
	if ret != 0 {
		return fmt.Errorf("register request failed locally: error=%d", ret)
	}
	return nil
}

func (i *KernelClient) Dispatch(in *DispatchRequest, out *DispatchResponse) error {
	ret := dispatch(in, out)
	if ret != 0 {
		return fmt.Errorf("dispatch request failed locally: error=%d", ret)
	}
	return nil
}

func (i *KernelClient) Exit(in *ExitRequest) error {
	ret := exit(in)
	if ret != 0 {
		return fmt.Errorf("register request failed locally: error=%d", ret)
	}
	return nil
}
