//
// Template for generating code for a service
//
package {{ lastSegmentOfPackage .file.GetPackage }}
{{- range .info.GetWasmService }}
type {{toCamelCase .GetWasmServiceName}} interface {
{{- range .GetWasmMethod}}
    {{.GetWasmMethodName}}({{.AllInputWithFormal true}}) {{.OutType}}
{{- end }}
}
{{- end}}
