

{{- $serviceName:=.svc.WasmServiceName}}
{{- $packageName:=.svc.ProtoPackage }}

type {{toCamelCase $serviceName}} interface {
    {{range .svc.ServiceDescriptorProto.GetMethod}}

    {{- $inEmpty:=isInputEmpty .}}
    {{- $outEmpty:=isOutputEmpty .}}
        {{- if $inEmpty }}
            {{- if $outEmpty }}
            {{.GetName}}() {
                {{.GetName}}_()
        }
            {{- else }}
         {{.GetName}}() {{outputTypeName .}}
            {{- end}}
        {{- else}}
            {{- if $outEmpty }}
         {{.GetName}}({{inputParamNameSet false false .}})
            {{- else }}
         {{.GetName}}({{inputParamNameSet false false .}}) {{outputTypeName .}}
            {{- end}}
        {{- end}}
    {{- end}}
}

type {{toCamelCase $serviceName}}Handler struct {
    {{- range .svc.ServiceDescriptorProto.GetMethod}}
        {{- $inEmpty:=isInputEmpty .}}
        {{- $outEmpty:=isOutputEmpty .}}
            {{ .GetName }}{{- if $inEmpty }}
                {{- if $outEmpty }}
                {{" func()"}}
                {{- else }}
                {{" func()"}}{{ outputTypeName .}}
                {{- end}}
            {{- else }}
                {{- if $outEmpty -}}
             {{" func"}}({{inputParamNameSet false true .}})
                {{- else -}}
            {{" func"}}({{inputParamNameSet false true .}}) {{outputTypeName .}}
                {{- end -}}
            {{end}}
    {{- end}}
}
