go 1.19

use lib
use sys/atlanta.base
use command
use api/atlanta.base/go
use g

// these are separated because we want them each to build separately and have diff paths
use example/greet
use example/hello-go
use example/vvv
