
## Note that because this is consumed from the vvv dir, the paths provided
## are relative to that dir.  This assumes you are using the `make run` 
## target of the makefile in this directory.

# the names here have no significance, they are just for humans.  Names cannot be reused.

# these represent where the loader will look to find binaries
SearchDir=["./build",
    "../../build"]  # location of the parigot source

[microservice.client]
Path="example/vvv/build/storeclient.p.wasm"
Main=true
Arg=["storeclient.p.wasm"]
Env=[]

[microservice.storeserver]
Path="example/vvv/build/server.p.wasm"
Arg=["server.p.wasm"]
Env=[]

[microservice.log]
Path="build/log.p.wasm"
Arg=["log.p.wasm"]
Env=[]

[microservice.file]
Path="build/file.p.wasm"
Arg=["file.p.wasm"]
Env=[]
