---
title: Guest APIs
date: __date_
description: Guest APIs are the guest side APIs (your program) of the built-in services and parigot proper.  APIs listed as `syscall` are the calls to the pubilc API of parigot.
weight: 5
---


