---
title: Plugin APIs
date: __date_
description:  Plugins are used to build parigot services that are "outside" the WASM sandbox.  These services use code running inside the __host__ to do their work.  The documentation in this section is documentation about the implementation of some plugins used by built-in services. These can serve as examples of how to build your own.


---
