//go:build parigot_abi
// +build parigot_abi

package abi

import (
	"time"
)

{{ range $index,$element := .abi.GetWasmMethod }}
//go:wasm-module parigot_abi
//export {{ .Name }}
func {{.GetName}}({{.AllInputsWithFormals false)}} {{.OutputType}} {
{{end}}

